

<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/home"><h2>Interview Tracker</h2></a>
      <% if(user){  %>
        
          <a class="navbar-brand" href=""><h5>   Hi   <%= user.email %></h5></a>
        
        <% } %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         
          <% if(admin){  %>

            <li class="nav-item">
              <a class="nav-link" href="/admin" target="_blank">Admin Panel</a>
            </li>

            <% }%>


          <li class="nav-item">
            <a class="nav-link" href="/home">Home
              <!-- <span class="sr-only">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
                   
          <% if(user){  %>


            <li class="nav-item">
              <a class="nav-link" href="/topic">Topics</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="/addquestion">Contribute</a>
            </li>


          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% }else{ %>

            <li class="nav-item">
              <a class="nav-link" href="/login">Topics</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/login">Contribute</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">SignUp</a>
            </li>

            
            <% }%>
        </ul>
      </div>
    </div>
  </nav>
</header>






<!--

 

  <% if(user){  %>
              <a class="nav-link" href="/addquestion">Contribute</a>

<% }else{ %>
              <a class="nav-link" href="/login">Contribute</a>
 <% }%>








    --------->














<!--



<nav>
  <div class="site-title">
    <a href="/"><h2>Final Interview Tracker</h2></a>
  </div>
  <ul>
    <% if(user){ %>
    <li>Welcome, <%= user.email %></li>
    <% if(admin) { %>
      <li><a href="/admin">Admin Panel</a></li>
    <% } %>
    <li><a href="/topic">Topics</a></li>
    <li><a href="/about">About</a></li>
    <li>
      <a href="/addquestion">Add Question</a>
    </li>
    <li><a href="/logout">Logout</a></li>
    <% }else{ %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <% } %>
  </ul>
</nav>
------>