<nav>
  <div class="site-title">
    <a href="/"><h2>Final Interview Tracker</h2></a>
  </div>
  <ul>
    <% if(user){ %>
    <li>Welcome, <%= user.email %></li>
    <% if(admin) { %>
      <li><a href="/admin">Admin Panel</a></li>
    <% } %>
    <li><a href="/topic">Topics</a></li>
    <li><a href="/about">About</a></li>
    <li>
      <a href="/addquestion">Add Question</a>
    </li>
    <li><a href="/logout">Logout</a></li>
    <% }else{ %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <% } %>
  </ul>
</nav>
