<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>About Us</h2>
      <a class="single" href="https://github.com/yashguptaji">
        <h3 class="title">Yash Gupta</h3>
      </a>

      <a class="single" href="https://github.com/sarthakvohra">
        <h3 class="title">Sarthak Vohra</h3>
      </a>  

      <a class="single" href="https://github.com/HarshitRana">
        <h3 class="title">Harshit Rana</h3>
      </a>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
