<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Welcome to the Interview  Questions Tracker site!</h1>
    <a href="/topic" class="btn">View Topics</a>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
